{% extends sonata_block.templates.block_base %}

{% block block %}
    {% set htmlClass = 'block-background-content' ~ block.id %}
    <style type="text/css">
    {% if settings.backgroundImageMobile %}
    .{{ htmlClass }}{% if settings.backgroundImageLocation == 'inside_wrapper' %} > .inner{% endif %} {
        background-image: url({% path settings.backgroundImageMobile, (settings.backgroundImageMobileFormat ? settings.backgroundImageMobileFormat : 'reference') %});
        background-position: center center;
        background-repeat: no-repeat;
    }
    {% elseif settings.backgroundImage %}
    .{{ htmlClass }}{% if settings.backgroundImageLocation == 'inside_wrapper' %} > .inner{% endif %} {
        background-image: url({% path settings.backgroundImage, (settings.backgroundImageFormat ? settings.backgroundImageFormat : 'reference') %});
        background-position: center center;
        background-repeat: no-repeat;
    }
    {% endif %}

    {% if settings.backgroundImage %}
    @media (min-width: 768px) {
        .{{ htmlClass }}{% if settings.backgroundImageLocation == 'inside_wrapper' %} > .inner{% endif %} {
            background-image: url({% path settings.backgroundImage, (settings.backgroundImageFormat ? settings.backgroundImageFormat : 'reference') %});
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    {% endif %}
    {% if settings.customStyles %}
    {{ settings.customStyles|raw }}
    {% endif %}
    </style>
    
    <div class="{{ htmlClass }} {{ settings.class }} {% block block_class %}{% endblock %}">
        {% if settings.backgroundImageLocation == 'inside_wrapper' %}
        <div class="inner {{ settings.innerClass }}">
        {% endif %}
            {{ settings.content|raw }}
        {% if settings.backgroundImageLocation == 'inside_wrapper' %}
        </div>
        {% endif %}
    </div>
{% endblock %}