{{ sonata_block_render({ type: 'app.block.promo_diary_entries' }, {
    layout: 'layout2',
    promo: promo.id,
    category: null,
    limit: null,
    headerTitle: promo.publishStart|date('Y') ~ ' Finalist',
    headerTitleClass: 'text-dark-red text-center ff-robotolight section-title margin-b-4 visible-lg visible-md visible-sm',
    class: 'section-entries-list',
    showPromoDropdown: false,
    promoDropDownFieldLabel: null,
    showNoResultsMessage: true
}) }}