{{ sonata_block_render({ type: 'app.block.promo_diary_entries' }, {
    layout: 'layout1',
    promo: promo.id,
    category: categoryWinner.id,
    categories: categories,
    limit: null,
    headerTitle: 'Winners',
    headerTitleClass: 'text-dark-red text-center ff-robotolight section-title margin-b-4 visible-lg visible-md visible-sm',
    class: 'section-entries-list',
    showPromoDropdown: true,
    promoDropDownFieldLabel: 'View Year',
    showNoResultsMessage: true
}) }}