{% extends 'AppBundle:Theme\\Default:layout.html.twig' %}

{% block page_body_class %}{{ parent() }} page-content-top-visible-template{% endblock %}

{% block page_content_top %}
<div class="content-top">
	<div class="inner">
		<style type="text/css">@media (min-width: 768px) { {% if entry.finalImage is not empty %}.banner-entry { background-image: url('{% path entry.finalImage, 'reference' %}'); }{% endif %} }</style>
		<div class="banner banner-entry">
	    	<div class="inner container-fluid pos-rel">
	    		{% if entry.finalImage is not empty %}
				<div class="rm-container-gutter text-center visible-xs pos-rel">
					<a href="#diary-video" data-toggle="modal" data-target="#diary-video" class="full-height full-width">
						<div class="mask-overlay">
							<div class="valign-wrapper">
								<div>
									<span class="fa fa-play play">&nbsp;</span>
								</div>
							</div>
						</div>
						<img alt="" class="img-responsive" src="{% path entry.finalImageMobile, 'reference' %}" title="{{ entry.title }}" />
					</a>					
				</div>
				{% endif %}
				<a href="#diary-video" data-toggle="modal" data-target="#diary-video" class="full-height full-width hidden-xs text-center">
					<div class="mask-overlay">
						<div class="valign-wrapper">
							<div>
								<span class="fa fa-play play">&nbsp;</span>
							</div>
						</div>
					</div>
				</a>
	        </div>
	    </div>
	</div>
</div>
{% endblock page_content_top %}

{% block page_content_main %}
<div class="container-fluid">
	<div class="section section-layout2 section-content">
		<ul class="social-links-layout1 list-inline margin-t-4 margin-b-3 visible-xs">
			<li class="padding-r-0"><a href="https://twitter.com/intent/tweet?url={{ absolute_url(path('app_promo_diary_view', { slug: entry.slug })) }}&text={{ social_media_share_text }}" class="fa fa-twitter">&nbsp;</a></li>
			<li class="padding-r-0"><a href="javascript:void(0);" onclick="$.fn.shareFb('{{ absolute_url(path('app_promo_diary_view', { slug: entry.slug })) }}')" class="fa fa-facebook">&nbsp;</a></li>
		</ul>
		<a href="#vote-diary" data-toggle="modal" data-target="#vote-diary" class="btn btn-lg btn-red padding-l-5 padding-r-5 pull-right margin-t-3 hidden-xs">Vote</a>
		<h1 class="text-red ff-robotolight margin-t-0">{{ entry.title }}</h1>
		{% set authorNameParts = [] %}
		{% if entry.firstName is not empty %}
			{% set authorNameParts = authorNameParts|merge([entry.firstName]) %}
		{% endif %}
		{% if entry.lastName is not empty %}
			{% set authorNameParts = authorNameParts|merge([entry.lastName]) %}
		{% endif %}
		{% if authorNameParts|length > 0 %}
		<div class="fs-1_25 margin-b-2">by {{ authorNameParts|join(' ') }}</div>
		{% endif %}
		<div class="margin-t-3 margin-b-4">
			<a href="#vote-diary" data-toggle="modal" data-target="#vote-diary" class="btn btn-lg btn-red padding-l-5 padding-r-5 visible-xs-inline-block">Vote</a>
		</div>
		<ul class="social-links-layout1 list-inline margin-t-4 margin-b-5 hidden-xs">
			<li class="padding-r-0"><a href="https://twitter.com/intent/tweet?url={{ absolute_url(path('app_promo_diary_view', { slug: entry.slug })) }}&text={{ social_media_share_text }}" class="fa fa-twitter">&nbsp;</a></li>
			<li class="padding-r-0"><a href="javascript:void(0);" onclick="$.fn.shareFb('{{ absolute_url(path('app_promo_diary_view', { slug: entry.slug })) }}')" class="fa fa-facebook">&nbsp;</a></li>
		</ul>
		<div class="margin-b-5">{{ entry.writeUp|raw }}</div>

		{{ sonata_block_render({ 'type': 'app.block.related_diary_entries' }, {
			entry: entry.id,
		    limit: 3,
		    layout: 'default',
		    class: null,
		    headerTitle: 'Read More Entries',
		    headerTitleClass: 'text-dark-gray margin-b-4'
		}) }}

        {% if content is defined %}
            {{ content|raw }}
        {% else %}
            {% set content = block('content') is defined ? block('content') : '' %}
            {% if content|length > 0 %}
                {{ content|raw }}
            {% elseif page is defined %}
                {{ sonata_page_render_container('content', page) }}
            {% endif %}
        {% endif %}
    </div>
</div>

{% if voteSuccess %}
<div class="modal fade modal-vote-diary" id="vote-diary" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header padding-b-0 padding-t-2">
				<button type="button" class="close fs-2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body padding-b-5">
				<div class="row">
					<div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 col-xs-offset-0 col-xs-12">
						<h3 class="ff-robotolight margin-t-0 margin-b-0 text-dark-red">Success! Thank you for Voting</h3>
						<h2 class="text-dark-gray ff-robotoregular margin-t-1">{{ entry.title }}</h2>
						{% if authorNameParts|length > 0 %}
						<div class="fs-1 margin-b-4 text-dark-gray">by {{ authorNameParts|join(' ') }}</div>
						{% endif %}
						<p class="margin-b-5 fs--9">Success! Thank you for participating in the selection of MoneyGram Idol Diaries finalists.</p>
						<ul class="social-links-layout1 list-inline">
							<li><strong class="fs--9">Share to:</strong></li>
							<li><a href="https://twitter.com/intent/tweet?url={{ absolute_url(path('app_promo_diary_view', { slug: entry.slug })) }}&text={{ social_media_share_text }}" class="fa fa-twitter">&nbsp;</a></li>
							<li><a href="javascript:void(0);" onclick="$.fn.shareFb('{{ absolute_url(path('app_promo_diary_view', { slug: entry.slug })) }}')" class="fa fa-facebook">&nbsp;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% elseif voted %}
<div class="modal fade modal-vote-diary" id="vote-diary" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header padding-b-0 padding-t-2">
				<button type="button" class="close fs-2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body padding-b-5">
				<div class="row">
					<div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 col-xs-offset-0 col-xs-12">
						<h3 class="ff-robotolight margin-t-0 margin-b-0 text-dark-red">Thank You</h3>
						<h2 class="text-dark-gray ff-robotoregular margin-t-1">{{ entry.title }}</h2>
						{% if authorNameParts|length > 0 %}
						<div class="fs-1 margin-b-4 text-dark-gray">by {{ authorNameParts|join(' ') }}</div>
						{% endif %}
						<p class="margin-b-5 fs--9">Thank you for your submission, but you have already submitted your vote.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="modal fade modal-vote-diary" id="vote-diary" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header padding-b-0 padding-t-2">
				<button type="button" class="close fs-2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body padding-b-5">
				<div class="row">
					<div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 col-xs-offset-0 col-xs-12">
						<h3 class="ff-robotolight margin-t-0 margin-b-0 text-dark-red">Do you want to vote</h3>
						<h2 class="text-dark-gray ff-robotoregular margin-t-1">{{ entry.title }}</h2>
						{% if authorNameParts|length > 0 %}
						<div class="fs-1 margin-b-4 text-dark-gray">by {{ authorNameParts|join(' ') }}</div>
						{% endif %}
						<p class="margin-b-5 fs--9">In order to process your vote, please connect your Facebook account.</p>
						<a href="{{ path('app_promo_diary_vote', { slug: entry.slug }) }}" class="btn btn-blue btn-md"><i class="fa fa-facebook fs-1_25 margin-r-3 valign-mid"></i> Connect to Facebook</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="modal fade modal-diary-video" id="diary-video" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header padding-b-2 padding-t-2 padding-r-0">
				<button type="button" class="close fs-2 text-inverse" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="video">
					<iframe width="100%" height="500" src="https://www.youtube.com/embed/{{ entry.finalVideo.providerReference }}?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="entry-details">
					<h2 class="text-inverse ff-robotoregular margin-t-1">{{ entry.title }}</h2>
					{% if authorNameParts|length > 0 %}
					<div class="fs-1 text-inverse">by {{ authorNameParts|join(' ') }}</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock page_content_main %}	

{% block sonata_page_asset_footer %}
{{ parent() }}
<script type="text/javascript">
(function ($) {

	$(document).ready(function(){

		{% if voteSuccess or voted %}
		$('.modal-vote-diary').modal({
			show: true
		});
		{% endif %}

		$('.modal-diary-video').on('hidden.bs.modal', function () {
			var _this = $(this);
			_this.find('.video iframe').attr('src', '');
	    });
		$('.modal-diary-video').on('show.bs.modal', function () {
			var _this = $(this);
			_this.find('.video iframe').attr('src', 'https://www.youtube.com/embed/{{ entry.finalVideo.providerReference }}?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture');
	    });

	});
	
})(jQuery);
</script>
{% endblock sonata_page_asset_footer %}