{% if block is defined and block is not empty and entries is not empty %}
{% set htmlClass = 'block-remittance-entries' ~ block.id %}
<div class="{{ htmlClass }} {% if settings.class is not empty %}{{ settings.class }}{% else %}section section-layout2 section-entries-list{% endif %} {% block block_class %}{% endblock %}">
	<div class="{% block list_class %}list-layout1{% endblock %}">
	{% block list_content %}
		{% if settings.headerTitle is not empty %}
		<h3 class="{% if settings.headerTitle is not empty %}text-dark-red text-center ff-robotolight section-title margin-b-4{% else %}{{ settings.headerTitleClass }}{% endif %}">{{ settings.headerTitle }}</h3>
		{% endif %}
		{{ include(templateLayout, { entries: entries }) }}
		{% if settings.footerContent is not empty%}
			{{ settings.footerContent|raw }}
		{% endif %}
	{% endblock %}
	</div>
</div>
{% endif %}