{% extends 'AppBundle:Theme\\Default:default.html.twig' %}

{% block page_content %}
<div class="main-wrapper">
	{% block page_content_top %}{{ parent() }}{% endblock page_content_top %}	

	<!-- CONTENT START -->
	<div class="main-content">
		<!-- CONTENT INNER START -->
		<div class="inner">		
			<div class="container-fluid">
				{% for message in app.session.flashBag.get('success') %}
					<div class="alert alert-success">{{ message|raw }}</div>
				{% endfor %}
				{% for message in app.session.flashBag.get('info') %}
					<div class="alert alert-info">{{ message|raw }}</div>
				{% endfor %}
				{% for message in app.session.flashBag.get('error') %}
				<div class="alert alert-danger">{{ message|raw }}</div>
				{% endfor %}
				{% for message in app.session.flashBag.get('warning') %}
				<div class="alert alert-warning">{{ message|raw }}</div>
				{% endfor %}
			</div>
			<!-- MAIN CONTENT START -->
			{% block page_content_main %}
			<div class="container-fluid">
				<div class="section section-layout2 section-content">
					<div class="animatedParent animateOnce" data-sequence="700">
						<h3 class="ff-robotolight margin-b-5 section-title text-center text-dark-red hidden-xs animated fadeInDownShort" data-id="1">Entry Form</h3>
						{% if promo is not empty %}
						<div class="form-wrapper animated fadeInLeftShort" data-id="2">
							<div class="margin-b-4">
								<h3 class="text-darker-gray margin-b-3">I want to enter</h3>
								<div class="text-center-xs hidden-xs">
									<a href="{{ path('app_promo_entry_remittance') }}" class="min-w-262 btn btn-lg btn-red">MoneyGram Remittance Raffle</a>
									<div class="visible-xs margin-b-1"></div>
									<a href="{{ path('app_promo_entry_diary') }}" class="min-w-262 btn btn-lg btn-white btn-bordered">MoneyGram Diaries</a>
								</div>
								<div class="entry-type-dropdown dropdown visible-xs">
									<button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										MoneyGram Remittance Raffle
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										<li><a href="{{ path('app_promo_entry_diary') }}">MoneyGram Diaries</a></li>
									</ul>
								</div>
							</div>
							{{ include('AppBundle:Promo:entry_remittance_form.html.twig') }}
						</div>
						{% else %}
						<div class="messages messages--warning">
							<ul class="messages__list">
						        <li class="messages__item">Entry form is not yet available.</li>
						    </ul>
						</div>
						{% endif %}
					</div>
	            </div>
			</div>
			{% endblock page_content_main %}	
			<!-- MAIN CONTENT END -->

			<!-- BOTTOM CONTENT START -->
			{% block page_content_bottom %}{{ parent() }}{% endblock page_content_bottom %}
			<!-- BOTTOM CONTENT END -->
		</div>
		<!-- CONTENT INNER END -->
	</div>
	<!-- CONTENT END -->
</div>
<!-- MAIN WRAPPER END -->
{% endblock page_content %}

{% block sonata_page_asset_footer %}
{{ parent() }}
{% if promo is not empty %}
<script type="text/javascript">
(function ($) {

	$(document).ready(function(){
		$.fn.initAddressFields();
		$('#{{ form.vars.id }}').initEntryForm();
	});

	$.fn.initEntryForm = function() {
		var _this_form = $(this);
		_this_form.find('input[type="radio"]:not(.icheck-exclude, .icheck-exclude input),input[type="checkbox"]:not(.icheck-exclude, .icheck-exclude input)').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal'
        });
        _this_form.find('select:not(.select2-exclude select, .select2-exclude)').select2();

        $(_this_form.find('.inputmask-int')).each(function(i, o){
        	$(o).inputmask({ alias: 'integer', rightAlign: false, allowMinus: false });
        });
        
        $(_this_form.find('.inputmask-email')).each(function(i, o){
        	$(o).inputmask({ alias: 'email', clearIncomplete: true, removeMaskOnSubmit: true, placeholder: "" });
        });
        
        $(_this_form.find('.inputmask-mobile')).each(function(i, o){
        	$(o).inputmask({ mask: '9999 999 9999', removeMaskOnSubmit: true });
        });
        
        $(_this_form.find('.inputmask-landline')).each(function(i, o){
        	$(o).inputmask({ regex: "[0-9]*" });
        });
        
        $(_this_form.find('.inputmask-zipcode')).each(function(i, o){
        	$(o).inputmask({ regex: "[0-9]*" });
        });
	}

	$.fn.initAddressFields = function() {
		$('.country-field:not(.processed)').addClass('processed').each(function(i, o){
			$(o).change(function(){
				var target_element = $($(o).attr('data-target'));
				target_element.val('');
				target_element.change();
				target_element.prop('disabled', true);
				$($(target_element).attr('data-target')).prop('disabled', true);
				if (!$(o).closest('form').hasClass('processing') && $(o).val() == 'PH') {
					$(o).closest('form').refreshEntryForm();
				}
			});
		});
		$('.region-field:not(.processed)').addClass('processed').each(function(i, o){
			$(o).change(function(){
				var target_element = $($(o).attr('data-target'));
				target_element.val('');
				target_element.change();
				target_element.prop('disabled', true);
				if (!$(o).closest('form').hasClass('processing') && $('#{{ form.recipientCountry.vars.id }}').val() == 'PH') {
					$(o).closest('form').refreshEntryForm();
				}
			});
		});
	}

	$.fn.refreshEntryForm = function() {
		var _this_form = $(this);
		var _form_parent = _this_form.closest('.form-wrapper');

		_this_form.handleFormMultipleSubmission();

		var form_data = _this_form.serialize();
		if (_this_form.hasClass('not-valid')) {
			form_data = form_data + '&validate=1';
		}

		$.ajax({
            type: _this_form.attr('method'),
            url: '{{ path('app_promo_entry_remittance_refresh') }}',
            dataType: "json",
            data: form_data
        })
        .done(function(response) {
        	if (typeof response.form_html !== "undefined") {
        		var new_form = $(response.form_html);
        		_this_form.replaceWith(new_form);
        		new_form.initEntryForm();
        		new_form.initAddressFields();
        	}
        	$.unblockUI();
        })
        .fail(function() {
			$.blockUI({ 
	            message: '<div class="messages messages--error"><ul class="messages__list"><li class="messages__item">An error occured while processing your request. Please contact administrator.</li></ul></div>', 
	            timeout: 2000,
	            css: { 
					border: 'none', 
			 		backgroundColor: 'transparent',
		 			left: '50%',
			 		marginLeft: '-150px',
			 		width: '300px',
			 	}
	        });
			_this_form.removeClass('processing');
        });
	}

})(jQuery);
</script>
{% endif %}
{% endblock sonata_page_asset_footer %}