<div class="animatedParent animateOnce" data-sequence="700">

	<div class="row">
		<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-0 col-xs-12">
			<h3 class="ff-robotolight margin-b-5 section-title text-center text-dark-red hidden-xs animated fadeInDownShort" data-id="1">Acknowledgement</h3>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-right hidden-xs animated fadeInRightShort" data-id="2">
			<ul class="social-links-layout1 list-inline">
				<li><strong class="ff-robotomedium fs--9">Share to:</strong></li>
				<li><a href="javascript:void(0);" onclick="$.fn.shareFb('{{ absolute_url(path('page_slug', { path: '/' })) }}')" class="fa fa-facebook">&nbsp;</a></li>
				<li><a href="https://twitter.com/intent/tweet?url={{ absolute_url(path('page_slug', { path: '/' })) }}&text={{ social_media_share_text }}" class="fa fa-twitter">&nbsp;</a></li>
			</ul>
		</div>
	</div>

	<h3 class="text-darker-gray text-center ff-robotobold fs-2 margin-b-4 animated fadeInLeftShort" data-id="3">Success! Thank you for your<br class="hidden-xs" />MoneyGram Idol Awards 3 submission.</h3>

	<div class="text-center visible-xs animated fadeInLeftShort" data-id="3">
		<ul class="social-links-layout1 list-inline">
			<li><strong class="fs--9">Share to:</strong></li>
			<li><a href="javascript:void(0);" onclick="$.fn.shareFb('{{ absolute_url(path('page_slug', { path: '/' })) }}')" class="fa fa-facebook">&nbsp;</a></li>
			<li><a href="https://twitter.com/intent/tweet?url={{ absolute_url(path('page_slug', { path: '/' })) }}&text={{ social_media_share_text }}" class="fa fa-twitter">&nbsp;</a></li>
		</ul>
	</div>

	<div class="row animated fadeInLeftShort" data-id="3">
		<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
			<h3 class="text-light-blue text-center ff-robotobold margin-b-5 fs-2 bg-lightest-gray entry-refnum margin-b-4 hidden-xs">Entry Reference #: {{ entry.referenceNumber }}</h3>
			<h3 class="text-light-blue text-center ff-robotobold margin-b-5 fs-1_5 bg-lightest-gray entry-refnum margin-b-4 visible-xs">Entry Reference #: {{ entry.referenceNumber }}</h3>
		</div>
	</div>

	<p class="text-center margin-b-5 animated fadeInLeftShort" data-id="3">The announcement of winners will be on <strong>May 6, 2019</strong>. Stay tuned and good luck!</p>

	<div class="text-center hidden-xs animated fadeInUpShort" data-id="4">
		<a href="{{ path('page_slug', { path: '/' }) }}" class="btn btn-white btn-bordered btn-lg">Back to Home</a>
		<span class="margin-r-1">&nbsp;</span>
		<a href="{{ path('app_promo_entry_remittance') }}" class="btn btn-red btn-lg">Submit Another Entry</a>
	</div>

	<div class="text-center visible-xs animated fadeInUpShort" data-id="4">
		<a href="{{ path('app_promo_entry_remittance') }}" class="btn btn-red btn-lg min-w-215">Submit Another Entry</a>
		<div class="margin-b-1">&nbsp;</div>
		<a href="{{ path('page_slug', { path: '/' }) }}" class="btn btn-white btn-bordered btn-lg min-w-215">Back to Home</a>
	</div>

</div>