{% extends 'AppBundle:Theme\\Default:default.html.twig' %}

{% block page_content %}
<div class="main-wrapper">
	{% block page_content_top %}{{ parent() }}{% endblock page_content_top %}	

	<!-- CONTENT START -->
	<div class="main-content">
		<!-- CONTENT INNER START -->
		<div class="inner">		
			<div class="container-fluid">
				{% for message in app.session.flashBag.get('success') %}
					<div class="alert alert-success">{{ message|raw }}</div>
				{% endfor %}
				{% for message in app.session.flashBag.get('info') %}
					<div class="alert alert-info">{{ message|raw }}</div>
				{% endfor %}
				{% for message in app.session.flashBag.get('error') %}
				<div class="alert alert-danger">{{ message|raw }}</div>
				{% endfor %}
				{% for message in app.session.flashBag.get('warning') %}
				<div class="alert alert-warning">{{ message|raw }}</div>
				{% endfor %}
			</div>
			<!-- MAIN CONTENT START -->
			{% block page_content_main %}
			<div class="container-fluid">
				<div class="section section-layout2 section-content">
					<div class="animatedParent animateOnce" data-sequence="700">
						<h3 class="ff-robotolight margin-b-5 section-title text-center text-dark-red hidden-xs animated fadeInDownShort" data-id="1">Entry Form</h3>
						{% if promo is not empty %}
						<div class="form-wrapper animated fadeInLeftShort" data-id="2">
							<div class="margin-b-4">
								<h3 class="text-darker-gray margin-b-3">I want to enter</h3>
								<div class="text-center-xs hidden-xs">
									<a href="{{ path('app_promo_entry_remittance') }}" class="min-w-262 btn btn-lg btn-white btn-bordered">MoneyGram Remittance Raffle</a>
									<div class="visible-xs margin-b-1"></div>
									<a href="{{ path('app_promo_entry_diary') }}" class="min-w-262 btn btn-lg btn-red">MoneyGram Diaries</a>
								</div>
								<div class="entry-type-dropdown dropdown visible-xs">
									<button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										MoneyGram Diaries
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										<li><a href="{{ path('app_promo_entry_remittance') }}">MoneyGram Remittance Raffle</a></li>
									</ul>
								</div>
							</div>
							{{ include('AppBundle:Promo:entry_diary_form.html.twig') }}
						</div>
						{% else %}
						<div class="messages messages--warning">
							<ul class="messages__list">
						        <li class="messages__item">Entry form is not yet available.</li>
						    </ul>
						</div>
						{% endif %}
					</div>
	            </div>
			</div>
			{% endblock page_content_main %}	
			<!-- MAIN CONTENT END -->

			<!-- BOTTOM CONTENT START -->
			{% block page_content_bottom %}{{ parent() }}{% endblock page_content_bottom %}
			<!-- BOTTOM CONTENT END -->
		</div>
		<!-- CONTENT INNER END -->
	</div>
	<!-- CONTENT END -->
</div>
<!-- MAIN WRAPPER END -->
{% endblock page_content %}

{% block sonata_page_asset_footer %}
{{ parent() }}
{% if promo is not empty %}
<script type="text/javascript">
(function ($) {

	$(document).ready(function(){
		$('#{{ form.vars.id }}').initEntryForm();
	});

	$.fn.initEntryForm = function() {
		var _this_form = $(this);
		_this_form.find('input[type="radio"]:not(.icheck-exclude, .icheck-exclude input),input[type="checkbox"]:not(.icheck-exclude, .icheck-exclude input)').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal'
        });

        $(_this_form.find('.inputmask-int')).each(function(i, o){
        	$(o).inputmask({ alias: 'integer', rightAlign: false, allowMinus: false });
        });
        
        $(_this_form.find('.inputmask-email')).each(function(i, o){
        	$(o).inputmask({ alias: 'email', clearIncomplete: true, removeMaskOnSubmit: true, placeholder: "" });
        });
        
        $(_this_form.find('.inputmask-mobile')).each(function(i, o){
        	$(o).inputmask({ mask: '9999 999 9999', removeMaskOnSubmit: true });
        });
        
        $(_this_form.find('.inputmask-landline')).each(function(i, o){
        	$(o).inputmask({ regex: "[0-9]*" });
        });
        
        $(_this_form.find('.inputmask-zipcode')).each(function(i, o){
        	$(o).inputmask({ regex: "[0-9]*" });
        });

        $(_this_form.find('.textcounter')).textcounter({
			min: 100,
			type: 'word',
			minimumErrorText: '',
			maximumErrorText: '',
			counterText : "Words Count: %d", 
			stopInputAtMaximum: false
		});
	}

})(jQuery);
</script>
{% endif %}
{% endblock sonata_page_asset_footer %}