{% form_theme form 'AppBundle:Form:fields.html.twig' 'AppBundle:Form:fields_inline_expanded.html.twig' %}
{% form_theme form.agreeTerms 'AppBundle:Form:fields_checkbox_no_wrap.html.twig' %}

{{ form_start(form, { attr: { novalidate: 'novalidate', id: form.vars.id, class: (not form.vars.valid ? 'not-valid') } }) }}

<div class="margin-b-4">
	<h3 class="text-darker-gray margin-b-3">File Upload</h3>

	<div class="row row-col-p5">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-left">
			<div class="form-group {% if not form.imageFile.vars.valid %}has-error{% endif %}">
				{{ form_label(form.imageFile, null, { label: 'Upload Family Photo', label_attr: { class: 'margin-b-0' } }) }} <span>(.jpg file format. File size limit 2mb)</span>
				<div class="margin-b-1"></div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						{{ form_widget(form.imageFile) }}
						{{ form_errors(form.imageFile) }}
						{% if not form.vars.valid and form.imageFile.vars.valid %}
						<div class="help-block">
							<p class="fs--8" style="color: #a51b00;">Please re-upload photo.</p>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-left">
			{{ form_row(form.title, { label: 'Remittance Story Title' }) }}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="form-group {% if form.writeUp.vars.errors|length > 0 %}has-error{% endif %}">
				{{ form_label(form.writeUp, null, { label: 'Remittance Story Write-Up', label_attr: { class: 'margin-b-0' } }) }} <span>(Tell us why they deserve to be a Moneygram Idol Awardee. Minimum 100 words)</span>
				<div class="margin-b-1"></div>
				{{ form_widget(form.writeUp, { attr: { class: 'textcounter', placeholder: 'Tell us your story...' } }) }}
				{{ form_errors(form.writeUp) }}
			</div>
		</div>
	</div>
</div>

<div class="margin-b-4">
	<h3 class="text-darker-gray margin-b-3">Personal Information</h3>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			{{ form_row(form.firstName, { label: 'First Name' }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-mid">
			{{ form_row(form.middleName, { label: 'Middle Name' }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-right">
			{{ form_row(form.lastName, { label: 'Last Name' }) }}
		</div>
	</div>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			{{ form_row(form.age, { label: 'Age', attr: { min: 1, class: 'inputmask-int' } }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-mid">
			{{ form_row(form.email, { label: 'Email Address', attr: { class: 'inputmask-email' } }) }}
		</div>
	</div>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			<div class="form-group {% if not form.mobileNumber.vars.valid or (not form.vars.valid and form.vars.submitted and form.mobileNumber.vars.data is empty and form.landlineNumber.vars.data is empty) %}has-error{% endif %}">
				{{ form_label(form.mobileNumber, null, { label: 'Mobile Number' }) }}
				{{ form_widget(form.mobileNumber, { attr: { class: 'inputmask-mobile', maxlength: 20 } }) }}
				{{ form_errors(form.mobileNumber) }}
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-mid">
			<div class="form-group {% if not form.landlineNumber.vars.valid or (not form.vars.valid and form.vars.submitted and form.mobileNumber.vars.data is empty and form.landlineNumber.vars.data is empty) %}has-error{% endif %}">
				{{ form_label(form.landlineNumber, null, { label: 'Landline Number' }) }}
				{{ form_widget(form.landlineNumber, { attr: { class: 'inputmask-landline', maxlength: 20 } }) }}
				{{ form_errors(form.landlineNumber) }}
			</div>
		</div>
	</div>
</div> 

<div class="margin-b-4">
	<div class="form-group {{ (form.agreeTerms.vars.errors|length > 0) ? ' has-error' }}">
		<div class="media">
			<div class="media-left">
				{{ form_widget(form.agreeTerms, { label: false }) }}
			</div>
			<div class="media-body">
				<label class="required fw-normal cursor-pointer" for="{{ form.agreeTerms.vars.id }}">I have read and agree</label> <a class="text-light-blue" href="http://corporate.moneygram.com/terms-of-use" target="_blank"><strong>Terms &amp; Conditions</strong></a> and <a class="text-light-blue" href="http://global.moneygram.com/privacy-notice" target="_blank"><strong>Privacy Policy</strong></a>
			</div>
			{{ form_errors(form.agreeTerms) }}
		</div>
	</div>
	{{ form_row(form.recaptcha, { label: false }) }}
</div>

<div class="margin-b-4">
	{{ form_errors(form) }}
	{{ form_widget(form.submit, { attr: { class: 'btn btn-red btn-lg' } }) }}
</div>

{{ form_end(form) }}
