{% form_theme form 'AppBundle:Form:fields.html.twig' 'AppBundle:Form:fields_inline_expanded.html.twig' %}
{% form_theme form.agreeTerms 'AppBundle:Form:fields_checkbox_no_wrap.html.twig' %}

{{ form_start(form, { attr: { novalidate: 'novalidate', id: form.vars.id, class: (not form.vars.valid ? 'not-valid') } }) }}

<div class="margin-b-4">
	<h3 class="text-darker-gray margin-b-3">Money Transfer Information</h3>

	{{ form_row(form.isSender, { label: 'I am going as a' }) }}

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-left">
			{{ form_row(form.transactionNumber, { label: 'Last 5-digit Remittance Transaction Number' }) }}
			{# form_row(form.senderRegion, { label: 'Sender Remittance Region' }) #}
		</div>
	</div>
</div>

<div class="margin-b-4">
	<h3 class="text-darker-gray margin-b-3">Personal Information</h3>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			{{ form_row(form.firstName, { label: 'First Name' }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-mid">
			{{ form_row(form.middleName, { label: 'Middle Name' }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-right">
			{{ form_row(form.lastName, { label: 'Last Name' }) }}
		</div>
	</div>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			{{ form_row(form.age, { label: 'Age', attr: { min: 1, class: 'inputmask-int' } }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-mid">
			{{ form_row(form.email, { label: 'Email Address', attr: { class: 'inputmask-email' } }) }}
		</div>
	</div>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			<div class="form-group {% if not form.mobileNumber.vars.valid or (not form.vars.valid and form.vars.submitted and form.mobileNumber.vars.data is empty and form.landlineNumber.vars.data is empty) %}has-error{% endif %}">
				{{ form_label(form.mobileNumber, null, { label: 'Mobile Number' }) }}
				{{ form_widget(form.mobileNumber, { attr: { class: 'inputmask-mobile', maxlength: 20 } }) }}
				{{ form_errors(form.mobileNumber) }}
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-mid">
			<div class="form-group {% if not form.landlineNumber.vars.valid or (not form.vars.valid and form.vars.submitted and form.mobileNumber.vars.data is empty and form.landlineNumber.vars.data is empty) %}has-error{% endif %}">
				{{ form_label(form.landlineNumber, null, { label: 'Landline Number' }) }}
				{{ form_widget(form.landlineNumber, { attr: { class: 'inputmask-landline', maxlength: 20 } }) }}
				{{ form_errors(form.landlineNumber) }}
			</div>
		</div>
	</div>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			{{ form_row(form.country) }}
		</div>
	</div>
</div>

<div class="margin-b-4">
	<h3 class="text-darker-gray margin-b-3">Recipient Information</h3>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			{{ form_row(form.recipientAddress1, { label: 'House/Lot Number' }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-mid">
			{{ form_row(form.recipientAddress2, { label: 'Street' }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-right">
			{{ form_row(form.recipientAddress3, { label: 'Barangay/ State/ Province' }) }}
		</div>
	</div>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			{{ form_row(form.recipientCountry, { label: 'Country', attr: { class: 'country-field', 'data-target': '#' ~ form.recipientRegion.vars.id } }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-mid">
			{% set attr = { class: 'region-field', 'data-target': '#' ~ form.recipientCity.vars.id } %}
			{% if form.recipientCountry.vars.data != 'PH' %}
				{% set attr = attr|merge({ disabled: 'disabled' }) %}
			{% endif %}
			{{ form_row(form.recipientRegion, { label: 'Region', attr: attr }) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-right">
			{% set attr = {} %}
			{% if form.recipientCountry.vars.data != 'PH' %}
				{% set attr = attr|merge({ disabled: 'disabled' }) %}
			{% endif %}
			{{ form_row(form.recipientCity, { label: 'City/Municipality', attr: attr }) }}
		</div>
	</div>

	<div class="row row-col-p5">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-left">
			{{ form_row(form.recipientZipCode, { label: 'Zipcode', attr: { class: 'inputmask-zipcode' } }) }}
		</div>
	</div>
</div>

<div class="margin-b-4">
	<div class="form-group {{ (form.agreeTerms.vars.errors|length > 0) ? ' has-error' }}">
		<div class="media">
			<div class="media-left">
				{{ form_widget(form.agreeTerms, { label: false }) }}
			</div>
			<div class="media-body">
				<label class="required fw-normal cursor-pointer" for="{{ form.agreeTerms.vars.id }}">I have read and agree</label> <a class="text-light-blue" href="http://corporate.moneygram.com/terms-of-use" target="_blank"><strong>Terms &amp; Conditions</strong></a> and <a class="text-light-blue" href="http://global.moneygram.com/privacy-notice" target="_blank"><strong>Privacy Policy</strong></a>
			</div>
			{{ form_errors(form.agreeTerms) }}
		</div>
	</div>
	{{ form_row(form.recaptcha, { label: false }) }}
</div>

<div class="margin-b-4">
	{{ form_errors(form) }}
	{{ form_widget(form.submit, { attr: { class: 'btn btn-red btn-lg' } }) }}
</div>

{{ form_end(form) }}
