{% extends 'AppBundle:Block:Promo/related_diary_entries.html.twig' %}

{% block block %}
{% set abstract_length = 180 %}
{% if entries|length > 0 %}
<div class="list">
	<div class="row">
		{% for entry in entries %}
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
				<div class="margin-b-5">
					{% if entry.thumbnail is not empty %}
					<a href="{{ path('app_promo_diary_view', { slug: entry.slug }) }}" class="text-center margin-b-3 thumb" data-id="3">
						{% media entry.thumbnail, 'reference' with { class: 'img-responsive', alt: entry.title, title: entry.title } %}
					</a>
					{% endif %}
					<a href="{{ path('app_promo_diary_view', { slug: entry.slug }) }}" class="text-dark-gray title"><h4 class="fs-1_5 margin-b-0">{{ entry.title }}</h4></a>
					{% set authorNameParts = [] %}
					{% if entry.firstName is not empty %}
						{% set authorNameParts = authorNameParts|merge([entry.firstName]) %}
					{% endif %}
					{% if entry.lastName is not empty %}
						{% set authorNameParts = authorNameParts|merge([entry.lastName]) %}
					{% endif %}
					{% if authorNameParts|length > 0 %}
					<div class="fs--8 margin-b-2">by {{ authorNameParts|join(' ') }}</div>
					{% endif %}
					{% if entry.abstract is not empty %}
					<div class="fs--9 margin-t-2">
						{% set abstract = entry.abstract %}
						{% if entry.abstract|striptags|length > abstract_length %}
							{% set abstract = entry.abstract|striptags|truncate(abstract_length) %}
						{% endif %}
						<div class="visible-sm">
							<p>{{ abstract|striptags|raw }}</p>
						</div>
						<div class="visible-xs visible-md visible-lg">
							<p>{{ entry.abstract|striptags|raw }}</p>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			{% if (loop.index % 3) == 0 %}
			<div class="clearfix"></div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}