{% block block %}
	{#<!-- for controller implementation -->#}
	{% set htmlClass = 'block-related-diaries-entries' ~ block.id %}
	<div class="{{ htmlClass }} {% if settings.class is not empty %}{{ settings.class }}{% endif %} {% block block_class %}{% endblock %}">
		<div class="{% block list_class %}related-diaries-list{% endblock %}">
		{% block list_content %}
			{% if entries is not empty %}
				{% if settings.headerTitle is not empty %}
				<h3 class="{% if settings.headerTitle is not empty %}{{ settings.headerTitleClass }}{% endif %}">{{ settings.headerTitle }}</h3>
				{% endif %}
				{{ include(templateLayout, { entries: entries }) }}
			{% endif %}
		{% endblock %}
		</div>
	</div>	
{% endblock %}