{% block block %}
	{#<!-- for controller implementation -->#}
	{# render(controller(
	    'AppBundle:Promo/Entry:blockList',
	    { block: block.id }
	)) #}
	{% set htmlClass = 'block-remittance-entries' ~ block.id %}
	<div class="{{ htmlClass }} {% if settings.class is not empty %}{{ settings.class }}{% endif %} {% block block_class %}{% endblock %}">
		<div class="animatedParent animateOnce {% block list_class %}list-layout1{% endblock %}" data-sequence="500">
		{% block list_content %}
			{% if settings.headerTitle is not empty %}
			<h3 class="animated fadeInDownShort {% if settings.headerTitle is not empty %}{{ settings.headerTitleClass }}{% endif %}" data-id="1">{{ settings.headerTitle }}</h3>
			{% endif %}
			{% if settings.showPromoDropdown %}
				{% if settings.promo %}
				<div class="row margin-b-3">
					<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
						<h4 class="fs-1_5 animated fadeInLeftShort" data-id="2">{{ filters.promo.name }}</h4>
					</div>
					{% if promos|length > 1 %}
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<div class="dd-wrapper margin-t-2 animated fadeInRightShort" data-id="2">
							{% if settings.promoDropDownFieldLabel is not empty %}
							<span class="fs--9 margin-r-2">{{ settings.promoDropDownFieldLabel }}:</span>
							{% endif %}
							<div class="dropdown d-inline-block">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									{{ filters.promo.optionDisplayName }}
								<span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
									{% for promo in promos %}
									<li{% if promo.id == filters.promo.id %} class="active"{% endif %}><a href="{{ path('app_promo_remittance_winners', { slug: promo.slug }) }}">{{ promo.optionDisplayName }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
				{% endif %}
			{% endif %}
			{% if entries is not empty %}
				{{ include(templateLayout, { entries: entries }) }}
			{% elseif settings.showNoResultsMessage %}
				<div class="messages messages--warning">
					<ul class="messages__list">
				        <li class="messages__item">No results found</li>
				    </ul>
				</div>
			{% endif %}
			{% if settings.footerContent is not empty%}
			<div class="animated fadeInDownShort" data-id="5">
				{{ settings.footerContent|raw }}
			</div>
			{% endif %}
		{% endblock %}
		</div>
	</div>
{% endblock %}