{% extends 'AppBundle:Block:Promo/remittance_entries_list.html.twig' %}

{% block block %}
{% set abstract_length = 180 %}
<div class="list">
	{% if entries|length > 0 %}
	<div class="row">
		{% for entry in entries %}
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animated fadeInLeftShort" data-id="3">
				<div class="margin-b-3 pos-rel">
					<div class="text-center thumb margin-b-3 animated fadeInUpShort" data-id="3">
						<a href="{{ path('app_promo_diary_view', { slug: entry.slug }) }}" class="full-height full-width">{% media entry.thumbnail, 'reference' with { class: 'img-responsive', alt: entry.title, title: entry.title } %}</a>
					</div>
					<ul class="social-links-layout1 list-inline pull-right pos-rel" style="z-index: 1;">
						<li class="padding-r-0"><a href="https://twitter.com/intent/tweet?url={{ absolute_url(path('app_promo_diary_view', { slug: entry.slug })) }}&text={{ social_media_share_text }}" class="fa fa-twitter">&nbsp;</a></li>
						<li class="padding-r-0"><a href="javascript:void(0);" onclick="$.fn.shareFb('{{ absolute_url(path('app_promo_diary_view', { slug: entry.slug })) }}')" class="fa fa-facebook">&nbsp;</a></li>
					</ul>
					<a href="{{ path('app_promo_diary_view', { slug: entry.slug }) }}" class="text-dark-gray title"><h4 class="fs-1_5 margin-b-0 animated fadeInLeftShort" data-id="4">{{ entry.title }}</h4></a>
					{% set authorNameParts = [] %}
					{% if entry.firstName is not empty %}
						{% set authorNameParts = authorNameParts|merge([entry.firstName]) %}
					{% endif %}
					{% if entry.lastName is not empty %}
						{% set authorNameParts = authorNameParts|merge([entry.lastName]) %}
					{% endif %}
					{% if authorNameParts|length > 0 %}
					<div class="fs--8 margin-b-2 animated fadeInLeftShort" data-id="4">by {{ authorNameParts|join(' ') }}</div>
					{% endif %}
					{% if settings.showCategory and entry.category is not empty %}
					<div class="fs--8 margin-b-2 animated fadeInLeftShort" data-id="4">{{ entry.category.name }}</div>
					{% endif %}
					{% if entry.abstract is not empty %}
					<div class="fs--9 animated fadeInLeftShort {% if not settings.showCategory %}margin-t-2{% endif %}" data-id="4">
						{% set abstract = entry.abstract %}
						{% if entry.abstract|striptags|length > abstract_length %}
							{% set abstract = entry.abstract|striptags|truncate(abstract_length) %}
						{% endif %}
						<div class="visible-sm">
							<p>{{ abstract|striptags|raw }} <a class="text-light-blue" href="{{ path('app_promo_diary_view', { slug: entry.slug }) }}"><strong><u>Learn More</u></strong></a></p>
						</div>
						<div class="visible-xs visible-md visible-lg">
							<p>{{ entry.abstract|striptags|raw }} <a class="text-light-blue" href="{{ path('app_promo_diary_view', { slug: entry.slug }) }}"><strong><u>Learn More</u></strong></a></p>
						</div>
					</div>
					{% endif %}
					<div class="text-center margin-t-5">
						<a href="{{ path('app_promo_diary_vote', { slug: entry.slug }) }}" class="btn btn-md btn-red padding-l-5 padding-r-5">Vote</a>
					</div>
				</div>
			</div>
			{% if (loop.index % 3) == 0 %}
			<div class="clearfix"></div>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}