{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<html>
{% endblock %}
    {% block sonata_page_head %}
        <head>
		    <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/app/theme/default/images/favicon/apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/app/theme/default/images/favicon/favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/app/theme/default/images/favicon/favicon-16x16.png') }}">
            <link rel="manifest" href="{{ asset('bundles/app/theme/default/images/favicon/site.webmanifest') }}">
            <link rel="mask-icon" href="{{ asset('bundles/app/theme/default/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">
            
            {% block app_page_title %}{{ sonata_seo_title() }}{% endblock %}
            {{ sonata_seo_metadatas() }}

            {% block app_page_stylesheets %}
			    {% stylesheets '@front_styles' %}
			        <link rel="stylesheet" href="{{ asset_url }}" />
			    {% endstylesheets %}
            {% endblock %}

            {% block app_page_javascripts %}
                <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
            {% endblock %}

		    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

            {% javascripts
                '@AppBundle/Resources/public/theme/default/js/app-gtm.js' %}
                <script src="{{ asset_url }}" async></script>
            {% endjavascripts %}
            {{ page_site_setting('before_html_head_close')|raw }}
            {{ page_setting('before_html_head_close')|raw }}
        </head>
    {% endblock %}

    {% block sonata_page_body_tag %}
        <body class="{% block page_body_class %}{% endblock %}">
        {{ page_site_setting('after_html_body_open')|raw }}
        {{ page_setting('after_html_body_open')|raw }}
    {% endblock %}

    {% block app_page_container %}{% endblock %}
    
    {% block sonata_page_asset_footer %}
        {% javascripts
            '@front_scripts' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block page_asset_footer %} {# Deprecated block #}
            {% if page is defined %}
                {% if page.javascript is not empty %}
                    <script>
                    {{ page.javascript|raw }}
                    </script>
                {% endif %}
                {% if page.stylesheet is not empty %}
                    <style>
                        {{ page.stylesheet|raw }}
                    </style>
                {% endif %}
            {% endif %}
            <script type="text/javascript">
            (function ($) {
                {% if not is_cookie_policy_accepted() %}
                $('.cookie-policy').fadeIn();
                $('.cookie-policy .btn-close').click(function(e){
                    e.preventDefault();
                    $(this).closest('.cookie-policy').fadeOut('fast');
                    $.ajax({
                        url: '{{ path('app_accept_cookie_policy') }}',
                        dataType: "json"
                    })
                    .done(function(response) {
                        console.log(response);
                    });
                });
                {% endif %}
            })(jQuery);
            </script>
            {#
                These includes can be done only at this point as all blocks are loaded,
                Limition : this does not work if a global page is loaded from an ESI tag inside a container block
            #}
            {{ sonata_block_include_stylesheets('screen', app.request.basePath) }}
            {{ sonata_block_include_javascripts('screen', app.request.basePath) }}
        {% endblock %}
    {% endblock %}
    {{ page_site_setting('before_html_body_close')|raw }}
    {{ page_setting('before_html_body_close')|raw }}
    </body>
</html>
