{% extends 'AppBundle:Theme\\Default:base_layout.html.twig' %}

{% block page_body_class %}{{ parent() }}{% endblock %}

{% block app_page_container %}
	{% block page_header %}
	<!-- HEADER START -->
	<div class="has-mask mobile-nav text-white visible-xs">
		<div class="mask">&nbsp;</div>

		<div class="container-fluid">
			<a class="pull-right close-trigger" href="#"><img alt="" src="/bundles/app/theme/default/images/close-white.png" title="Close" /></a>
			<div class="clearfix">&nbsp;</div>
			{{ sonata_page_render_container('mobile_nav', 'global') }}
		</div>

		<div class="divider divider-layout1">&nbsp;</div>
	</div>

	<header>
		{{ sonata_page_render_container('header_top', 'global') }}
		<nav class="navbar navbar-default navbar-static-top margin-b-0">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-brand">
						<a class="" href="{{ path('page_slug', { path: '/' }) }}">
						{% set site_logo = page_site_setting_logo() %}
						{% if site_logo is not empty %}
							{% media site_logo, 'reference' with { alt: site_name, title: site_name } %}
						{% else %}
							<img src="{{ asset('bundles/app/theme/default/images/header-logo.png') }}" alt="" title="{{ site_name }}" />
						{% endif %}
						</a>
					</div>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					{{ sonata_page_render_container('header', 'global') }}
				</div>
			</div>
		</nav>
	</header>
	<!-- HEADER END -->
	{% endblock page_header %}

	{% block page_content %}
	<div class="main-wrapper">
		{% block page_content_top %}
		<div class="content-top">
			<div class="inner">
				{{ sonata_page_render_container('content_top') }}
				{{ sonata_page_render_container('content_top', 'global') }}
			</div>
		</div>
	    {% endblock page_content_top %}	

		<!-- CONTENT START -->
		<div class="main-content">
			<!-- CONTENT INNER START -->
			<div class="inner">		
				<div class="container-fluid">
					{% for message in app.session.flashBag.get('success') %}
						<div class="alert alert-success">{{ message|raw }}</div>
					{% endfor %}
					{% for message in app.session.flashBag.get('info') %}
						<div class="alert alert-info">{{ message|raw }}</div>
					{% endfor %}
					{% for message in app.session.flashBag.get('error') %}
					<div class="alert alert-danger">{{ message|raw }}</div>
					{% endfor %}
					{% for message in app.session.flashBag.get('warning') %}
					<div class="alert alert-warning">{{ message|raw }}</div>
					{% endfor %}
				</div>
				<!-- MAIN CONTENT START -->
				{% block page_content_main %}
				<div class="container-fluid">
					<div class="section section-layout2 section-content">
		                {% if content is defined %}
		                    {{ content|raw }}
		                {% else %}
		                    {% set content = block('content') is defined ? block('content') : '' %}
		                    {% if content|length > 0 %}
		                        {{ content|raw }}
		                    {% elseif page is defined %}
		                        {{ sonata_page_render_container('content', page) }}
		                    {% endif %}
		                {% endif %}
		            </div>
				</div>
				{% endblock page_content_main %}	
				<!-- MAIN CONTENT END -->

				<!-- BOTTOM CONTENT START -->
				{% block page_content_bottom %}
			        {{ sonata_page_render_container('content_bottom') }}
			        {{ sonata_page_render_container('content_bottom', 'global') }}
			    {% endblock page_content_bottom %}
				<!-- BOTTOM CONTENT END -->
			</div>
			<!-- CONTENT INNER END -->
		</div>
		<!-- CONTENT END -->
	</div>
	<!-- MAIN WRAPPER END -->
	{% endblock page_content %}
	
	<!-- FOOTER START -->
	{% block page_footer %}
	<footer>
		{{ sonata_page_render_container('footer_1', 'global') }}
	</footer>
	{% endblock page_footer %}
	<!-- FOOTER END -->
{% endblock %}

