{% extends 'AppBundle:Theme\\Default:layout.html.twig' %}

{% block page_body_class %}{{ parent() }} page-no-wrapper-template{% endblock %}

{% block page_content_main %}
<div class="container-fluid">
    {% if content is defined %}
        {{ content|raw }}
    {% else %}
        {% set content = block('content') is defined ? block('content') : '' %}
        {% if content|length > 0 %}
            {{ content|raw }}
        {% elseif page is defined %}
            {{ sonata_page_render_container('content', page) }}
        {% endif %}
    {% endif %}
</div>
{% endblock page_content_main %}