{% extends 'AppBundle:Block:Promo/remittance_entries_list.html.twig' %}

{% block block %}
{% set abstract_length = 180 %}
<div class="list">
	{% if entries|length > 0 %}
	<div class="row">
		{% set ctr = 1 %}
		{% for entry in entries %}
			{% if loop.index == 1 %}
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item">
					<div class="margin-b-5">
						{% if entry.image is not empty %}
						<div class="text-center margin-b-3 rm-container-gutter-xs thumb animated fadeInUpShort" data-id="3">
							{% media entry.image, 'reference' with { class: 'img-responsive', alt: entry.title, title: entry.title } %}
						</div>
						{% endif %}
						<h4 class="fs-1_5 margin-b-0 animated fadeInLeftShort" data-id="4">{{ entry.title }}</h4>
						{% if settings.showCategory and entry.category is not empty %}
						<div class="fs--8 margin-b-2 animated fadeInLeftShort" data-id="4">{{ entry.category.name }}</div>
						{% endif %}
						{% if entry.abstract is not empty %}
						<div class="fs--9 animated fadeInLeftShort {% if not settings.showCategory %}margin-t-2{% endif %}" data-id="4">
							{{ entry.abstract|raw }}
						</div>
						{% endif %}
					</div>
				</div>
			{% else %}
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item">
					<div class="margin-b-5">
						{% if entry.thumbnail is not empty %}
						<div class="text-center margin-b-3 thumb animated fadeInUpShort" data-id="3">
							{% media entry.thumbnail, 'reference' with { class: 'img-responsive', alt: entry.title, title: entry.title } %}
						</div>
						{% endif %}
						<h4 class="fs-1_5 margin-b-0 animated fadeInLeftShort" data-id="4">{{ entry.title }}</h4>
						{% if settings.showCategory and entry.category is not empty %}
						<div class="fs--8 margin-b-2 animated fadeInLeftShort" data-id="4">{{ entry.category.name }}</div>
						{% endif %}
						{% if entry.abstract is not empty %}
						<div class="fs--9 animated fadeInLeftShort {% if not settings.showCategory %}margin-t-2{% endif %}" data-id="4">
							{% set abstract = entry.abstract %}
							{% if entry.abstract|striptags|length > abstract_length %}
								{% set abstract = entry.abstract|striptags|truncate(abstract_length) %}
							{% endif %}
							<div class="visible-sm">
								<p>{{ abstract|raw }}</p>
							</div>
							<div class="visible-xs visible-md visible-lg">
								{{ entry.abstract|raw }}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% if (ctr % 2) == 0 %}
				<div class="clearfix"></div>
				{% endif %}
				{% set ctr = ctr + 1 %}
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}