@media (max-width: 767px) {

}
@media (max-width: 768px) {
    .list-layout1 .item {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1158px) {
	/* general */
    body {
        padding-bottom: 62px;
    }
	/* footer */
    .copyright {
	    line-height: 32px;
	}
    .footer-links {
	    min-height: 32px;
        line-height: 32px;
    }
    .footer-links li {
        padding: 0px 10px;
    }
    footer .social-links a {
    	width: 32px;
	    height: 32px;
	    font-size: 1rem;
	    line-height: 32px;
    }
    footer .social-links a::after {
    	margin-left: 4px;
    }
}
@media (min-width: 992px) and (max-width: 1999px) {

}
@media (min-width: 1200px) {

}