/* alignment */
.valign-wrapper {
    display: table;
    width: 100%;
    height: 1px;
    min-height: 100%;
    table-layout: fixed;
}
.valign-wrapper > * {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.valign-top {
    vertical-align: top;
}
.valign-mid {
    vertical-align: middle;
}
.valign-bottom {
    vertical-align: bottom;
}
.display-table {
    display: table;
}
.display-table-cell {
    display: table-cell;
}
.text-center-sm {
    text-align: left;
}
.text-center-md {
    text-align: left;
}
.text-center-lg {
    text-align: left;
}
.text-center-xs {
    text-align: center;
}
.text-center img, .text-center-lg img, .text-center-md img, .text-center-sm img, .text-center-xs img {
    margin: 0 auto;
}

/* dimension */
.full-height {
    height: 100% !important;
}
.full-width {
    width: 100% !important;
}
.full-width-xs {
    width: 100% !important;
}
/* width */
.min-w-215 {
    min-width: 215px !important;
}
.min-w-262 {
    min-width: 262px !important;
}

/* display */
.d-inline {
    display: inline;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}

/* fonts */
.ff-robotoblack {
    font-family: robotoblack !important;
}
.ff-robotobold {
    font-family: robotobold !important;
}
.ff-robotolight {
    font-family: robotolight !important;
}
.ff-robotomedium {
    font-family: robotomedium !important;
}
.ff-robotoregular {
    font-family: robotoregular !important;
}
.ff-robotothin {
    font-family: robotothin !important;
}
.ff-roboto_condensedbold {
    font-family: roboto_condensedbold !important;
}
.ff-roboto_condensedlight {
    font-family: roboto_condensedlight !important;
}
.ff-roboto_condensedregular {
    font-family: roboto_condensedregular !important;
}

/* texts */
.text-default {
    color: #7E7874;
}
.text-inverse {
    color: #ffffff;
}
.text-white {
    color: #ffffff;
}
.text-white a {
    color: #ffffff;
}
.text-white a:hover, .text-white a:focus, a.text-white:hover, a.text-white:focus {
    color: #C32424;
}
.text-black {
    color: #000000;
}
.text-black a {
    color: #000000;
}
.text-black a:hover, .text-black a:focus, a.text-black:hover, a.text-black:focus {
    color: #C32424;
}
.text-gray {
    color: #7E7874;
}
.text-gray a {
    color: #7E7874;
}
.text-gray a:hover, .text-gray a:focus, a.text-gray:hover, a.text-gray:focus {
    color: #C32424;
}
.text-darker-gray {
    color: #3B3B3B;
}
.text-darker-gray a {
    color: #3B3B3B;
}
.text-darker-gray a:hover, .text-darker-gray a:focus, a.text-darker-gray:hover, a.text-darker-gray:focus {
    color: #C32424;
}
.text-dark-gray {
    color: #606060;
}
.text-dark-gray a {
    color: #606060;
}
.text-dark-gray a:hover, .text-dark-gray a:focus, a.text-dark-gray:hover, a.text-dark-gray:focus {
    color: #C32424;
}
.text-red {
    color: #C32424;
}
.text-red a {
    color: #C32424;
}
.text-red a:hover, .text-red a:focus, a.text-red:hover, a.text-red:focus {
    color: #a21e1e;
}
.text-dark-red {
    color: #DA291C;
}
.text-dark-red a {
    color: #DA291C;
}
.text-dark-red a:hover, .text-red a:focus, a.text-red:hover, a.text-red:focus {
    color: #a21e1e;
}
.text-light-blue {
    color: #009CDE;
}
.text-light-blue a {
    color: #009CDE;
}
.text-light-blue a:hover, .text-light-blue a:focus, a.text-light-blue:hover, a.text-light-blue:focus {
    color: #027baf;
}

.fs--25 {
    font-size: 0.25rem;
}
.fs--5 {
    font-size: 0.5rem;
}
.fs--75 {
    font-size: 0.75rem;
}
.fs--8 {
    font-size: 0.8rem;
}
.fs--9 {
    font-size: 0.9rem;
}
.fs-1 {
    font-size: 1rem;
}
.fs-1_25 {
    font-size: 1.25rem;
}
.fs-1_5 {
    font-size: 1.5rem;
}
.fs-1_75 {
    font-size: 1.75rem;
}
.fs-2 {
    font-size: 2rem;
}
.fs-2_25 {
    font-size: 2.25rem;
}
.fs-2_5 {
    font-size: 2.5rem;
}
.fs-2_75 {
    font-size: 2.75rem;
}
.fs-3 {
    font-size: 3rem;
}
.fs-3_25 {
    font-size: 3.25rem;
}
.fs-3_5 {
    font-size: 3.5rem;
}
.fs-3_75 {
    font-size: 3.75rem;
}
.fs-4 {
    font-size: 4rem;
}
.fs-4_25 {
    font-size: 4.25rem;
}
.fs-4_5 {
    font-size: 4.5rem;
}
.fs-4_75 {
    font-size: 4.75rem;
}
.fs-5 {
    font-size: 5rem;
}
.fs-5_25 {
    font-size: 5.25rem;
}
.fs-5_5 {
    font-size: 5.5rem;
}
.fs-5_75 {
    font-size: 5.75rem;
}

.fw-normal {
    font-weight: normal;
}
.fw-bold {
    font-weight: bold;
}
.fw-bolder {
    font-weight: bolder;
}

/* margin */
.margin-0 {
    margin: 0px !important;
}
.margin-1 {
    margin: 0.25rem !important;
}
.margin-2 {
    margin: 0.5rem !important;
}
.margin-3 {
    margin: 1rem !important;
}
.margin-4 {
    margin: 1.5rem !important;
}
.margin-5 {
    margin: 3rem !important;
}
.margin-t-0 {
    margin-top: 0px !important;
}
.margin-t-1 {
    margin-top: 0.25rem !important;
}
.margin-t-2 {
    margin-top: 0.5rem !important;
}
.margin-t-3 {
    margin-top: 1rem !important;
}
.margin-t-4 {
    margin-top: 1.5rem !important;
}
.margin-t-5 {
    margin-top: 3rem !important;
}
.margin-b-0 {
    margin-bottom: 0px !important;
}
.margin-b-1 {
    margin-bottom: 0.25rem !important;
}
.margin-b-2 {
    margin-bottom: 0.5rem !important;
}
.margin-b-3 {
    margin-bottom: 1rem !important;
}
.margin-b-4 {
    margin-bottom: 1.5rem !important;
}
.margin-b-5 {
    margin-bottom: 3rem !important;
}
.margin-l-0 {
    margin-left: 0px !important;
}
.margin-l-1 {
    margin-left: 0.25rem !important;
}
.margin-l-2 {
    margin-left: 0.5rem !important;
}
.margin-l-3 {
    margin-left: 1rem !important;
}
.margin-l-4 {
    margin-left: 1.5rem !important;
}
.margin-l-5 {
    margin-left: 3rem !important;
}
.margin-r-0 {
    margin-right: 0px !important;
}
.margin-r-1 {
    margin-right: 0.25rem !important;
}
.margin-r-2 {
    margin-right: 0.5rem !important;
}
.margin-r-3 {
    margin-right: 1rem !important;
}
.margin-r-4 {
    margin-right: 1.5rem !important;
}
.margin-r-5 {
    margin-right: 3rem !important;
}

/* padding */
.padding-0 {
    padding: 0px !important;
}
.padding-1 {
    padding: 0.25rem !important;
}
.padding-2 {
    padding: 0.5rem !important;
}
.padding-3 {
    padding: 1rem !important;
}
.padding-4 {
    padding: 1.5rem !important;
}
.padding-5 {
    padding: 3rem !important;
}
.padding-t-0 {
    padding-top: 0px !important;
}
.padding-t-1 {
    padding-top: 0.25rem !important;
}
.padding-t-2 {
    padding-top: 0.5rem !important;
}
.padding-t-3 {
    padding-top: 1rem !important;
}
.padding-t-4 {
    padding-top: 1.5rem !important;
}
.padding-t-5 {
    padding-top: 3rem !important;
}
.padding-b-0 {
    padding-bottom: 0px !important;
}
.padding-b-1 {
    padding-bottom: 0.25rem !important;
}
.padding-b-2 {
    padding-bottom: 0.5rem !important;
}
.padding-b-3 {
    padding-bottom: 1rem !important;
}
.padding-b-4 {
    padding-bottom: 1.5rem !important;
}
.padding-b-5 {
    padding-bottom: 3rem !important;
}
.padding-l-0 {
    padding-left: 0px !important;
}
.padding-l-1 {
    padding-left: 0.25rem !important;
}
.padding-l-2 {
    padding-left: 0.5rem !important;
}
.padding-l-3 {
    padding-left: 1rem !important;
}
.padding-l-4 {
    padding-left: 1.5rem !important;
}
.padding-l-5 {
    padding-left: 3rem !important;
}
.padding-r-0 {
    padding-right: 0px !important;
}
.padding-r-1 {
    padding-right: 0.25rem !important;
}
.padding-r-2 {
    padding-right: 0.5rem !important;
}
.padding-r-3 {
    padding-right: 1rem !important;
}
.padding-r-4 {
    padding-right: 1.5rem !important;
}
.padding-r-5 {
    padding-right: 3rem !important;
}

/* spacing */
.rm-container-gutter {
    margin-left: -15px;
    margin-right: -15px;
}
.rm-container-gutter-xs {
    margin-left: -15px;
    margin-right: -15px;
}

/* mask */
.has-mask {
    position: relative;
}
.has-mask > * {
    position: relative;
    z-index: 1;
}
.has-mask .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000000;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
.mask-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* position */
.pos-abs {
    position: absolute;
}
.pos-rel {
    position: relative;
}

/* opacity */
.opacity-1 {
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}
.opacity-2 {
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
.opacity-3 {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}
.opacity-4 {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.opacity-5 {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.opacity-6 {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.opacity-7 {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
.opacity-8 {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.opacity-9 {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

/* cursor */
.cursor-pointer {
    cursor: pointer;
}

/* list */
.lst-lr {
    list-style-type: lower-roman;
}
.lst-la {
    list-style-type: lower-alpha;
}
.lst-ur {
    list-style-type: upper-roman;
}
.lst-ua {
    list-style-type: upper-alpha;
}
.ol-list-dec {
    list-style-type: none;
    counter-reset: elementcounter;
}
.ol-list-dec > li {
}
.ol-list-dec > li:before {
    counter-increment: elementcounter;
    margin-left: -20px;
    text-align: left;
}
.ol-list-1 > li:before {
    content: "I." counter(elementcounter) ". ";
}

/* background */
.bg-white {
    background-color: #ffffff !important;
}
.bg-lightest-gray {
    background-color: #FAFAFA !important;
}
.bg-lighter-gray {
    background-color: #FBFBFB !important;
}
.bg-light-gray {
    background-color: #F4F4F4 !important;
}