@media (min-width: 992px) {
    /* general */
    html {
        font-size: 16px;
    }
    body {
	    font-size: 16px;
	    padding-bottom: 72px;
    }

    /* header */
    .navbar-brand img {
        width: 318px;
    }
	.navbar-default .navbar-nav > li > a, 
	.navbar-nav li a {
	    padding: 0px 20px;
        font-size: 1.15rem;
	}

    /* social links */
    .social-links-layout1 li {
        padding-right: 5px;
        padding-left: 5px;
    }
    .social-links-layout1 a {
        height: 38px;
        width: 38px;
        line-height: 38px;
        font-size: 1.5rem;
    }

    /* diary view */
    .modal-diary-video .modal-body {
        padding: 0px;
        position: absolute;
        width: 100%;
        top: 46px;
        background: transparent;
    }
    .modal-diary-video iframe {
        height: 500px;
    }
    .modal-vote-diary .modal-dialog {
        width: 730px;
    }
}