@media (min-width: 321px) {
}

@media (min-width: 480px) {
}

@media (min-width: 481px) {
}

@media (min-width: 768px) {
    /* general */
    body {
        padding-bottom: 156px;
    }

    /* grid */
    .row-col-p5 .col-left {
        padding-right: 5px;
    }
    .row-col-p5 .col-right {
        padding-left: 5px;
    }
    .row-col-p5 .col-mid {
        padding-left: 5px;
        padding-right: 5px;
    }
    
	/* section */
	.section {
	    margin-left: 0px; 
	    margin-right: 0px; 
	}
	.section-layout1 {
	}
	.section-layout2 {
	    padding-left: 3.5rem;
	    padding-right: 3.5rem;
	}

    /* header */
    .header-top .top-links li {
        padding: 0px 7px;
        position: relative;
        float: left;
    }
    .header-top .top-links a::after {
        content: "";
        border: 0.5px solid #ffffff;
        height: 0.8rem;
        position: absolute;
        top: 50%;
        right: -0.5px;
        margin-top: -0.4rem;
    }
    .header-top .top-links a.last::after {
        content: none;
    }
    .navbar-collapse, .navbar-collapse.collapse {
        height: 100% !important;
    }
    .navbar {
        min-height: 102px;
        height: 1px;
    }
    .navbar > .container-fluid, 
    .navbar > .container-fluid > .navbar-collapse,
    .navbar > .container-fluid > .navbar-collapse > .navbar-nav {
        height: 100% !important;
    }
    .navbar-header {
        height: 100%;
        display: table;
        margin-right: 10px !important;
        padding: 15px 0px;
        margin-right: 10px !important;
    }
    .navbar-brand {
        height: 100%;
        float: none;
        display: table-cell;
        vertical-align: middle;
        padding-left: 0px;
        margin-top: 0px;
    }
	.navbar-brand img {
	    width: 250px;
	}
    .navbar-nav {
        display: table;
    }
    .navbar-nav > li {
        height: 100% !important;
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }
    .navbar-nav > li > a::after {
        content: "";
        border: 0.5px solid #BDBDBD;
        position: absolute;
        height: 1.4rem;
        margin-top: -0.7rem;
        top: 50%;
        right: 0px;
    }
    .navbar-nav > li > a.last::after {
        content: none;
    }

    /* footer */
    .footer-links {
    	display: table;
        line-height: 42px;
    }
    .footer-links li {
        padding: 0px 15px;
        position: relative;
	    display: table-cell;
	    vertical-align: middle;
	    margin-bottom: 0px;
    }
    .footer-links a {
    }
    .footer-links a::after {
        content: "";
        border: 0.5px solid #ffffff;
        height: 0.9rem;
        position: absolute;
        top: 50%;
        right: 0px;
        margin-top: -0.45rem;
    }
    .footer-links a.last::after {
        content: none;
    }

    /* sponsors */
	.section-sponsors .slick-slide {
	    min-height: 200px !important;
	    height: 1px;
	}
	.section-sponsors .item img {
	    max-width: 200px;
	}
	.section-sponsors .slick-prev, .section-sponsors .slick-next {
	    width: 60px;
	    height: 60px;
	    margin-top: -30px;
	}
	.section-sponsors .slick-prev {
	    left: -35px;
	}
	.section-sponsors .slick-next {
	    right: -35px;
	}

	/* home */
	.banner-home .min-w-215 {
	    min-width: 215px !important;
	    padding-left: 30px !important;
	    padding-right: 30px !important;
	}

    /* page template */
    .page-default-template .content-top .banner {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .page-content-top-visible-template .content-top .banner {
        position: static;
    }
    .page-default-template .main-content > .inner {
        padding-top: 110px;
    }
    .page-content-top-visible-template .main-content > .inner {
        padding-top: 50px;
    }

    /* social links */
    .social-links-layout1 li {
        padding-right: 3px;
        padding-left: 3px;
    }
    .social-links-layout1 a {
        height: 33px;
        width: 33px;
        line-height: 33px;
        font-size: 1.3rem;
    }

    /* winners */
    .list-layout1 .dd-wrapper {
        display: block;
        width: auto;
        text-align: right;
    }
    .list-layout1 .dd-wrapper > * {
        display: inline;
    }
    .list-layout1 .dd-wrapper > span {
        width: auto;
    }
    .list-layout1 .dd-wrapper .dropdown .btn {
        text-align: center;
        display: inline-block;
        width: auto;
    }
    .list-layout1 .dd-wrapper > div {
        display: inline-block;
    }
    .list-layout1 .dd-wrapper .dropdown .dropdown-menu {
        width: auto;
    }

    /* diary view */
    .banner-entry {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    .banner-entry .inner {
        min-height: 488px;
        height: 1px;
    }
    .banner-entry .inner .play {
        font-size: 40px;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .modal-vote-diary .modal-dialog {
        width: 730px;
    }
    .modal-vote-diary .modal-content {
        background-position: 0px 40px;
        background-size: auto;
    }
    .modal-vote-diary .modal-body {
        padding-top: 0px;
    }
    .modal-diary-video .modal-dialog {
        width: 95%;
    }
    .modal-diary-video iframe {
        height: 400px;
    }
}