html {
    height: 100%;
    font-size: 14px;
}
body {
    padding: 0px 0px 0px 0px;
    padding-bottom: 241px;
    margin: 0px;
    color: #7E7874;
    position: relative;
    min-height: 100%;
    /*line-height: 1.5em;*/
    background: #F4F4F4;
    font-family: 'robotoregular';
    font-size: 14px;
}
body > iframe {
    display: none;
}
img {
    -webkit-transition: all 0.2s ease; /* Safari */
    transition: all 0.2s ease;
}
img, object, video {
    height: auto;
    max-height: 100%;
}
b, strong {
    font-weight: normal;
    font-family: 'robotomedium';
}
h1, h2, h3, h4, h5 {
    /*font-family: 'helveticabold';*/
    font-family: robotomedium;
}

/* bootstrap */
.container-fluid {
    max-width: 1200px;
}

/* link */
a {
    color: #C32424;
    -webkit-transition: all 0.2s ease; /* Safari */
    transition: all 0.2s ease;
}
a:focus, a:hover {
    color: #C32424;
}

/* select2 */
.select2-container {
    max-width: 100%;
    width: 100% !important;
    text-align: left;
    /*min-width: 150px;*/
    min-width: none;
}
body > .select2-container {
    width: auto !important;
    min-width: 150px;
    z-index: 2;
}
.select2-container--default .select2-selection--single {
    border-radius: 24px;
    background: #F4F4F4;
    border: 1px solid #F4F4F4;
    height: 45px;
    line-height: 45px;
    padding-right: 24px;
}
.select2-container--default .select2-big {
    height: 45px;
    line-height: 43px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.select2-container--default .select2-selection--single:focus {
    outline: none;
}
.has-error .select2-container--default .select2-selection--single {
    border-color: #ffe4e2;
    background-color: #fff3f3;
}
.has-success .select2-container--default .select2-selection--single {
    border-color: #3c763d;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
    padding: 0px 22px;
    color: #616161;
}
.select2-container--default .select2-big.select2-selection--single .select2-selection__rendered {
    line-height: 43px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 45px;
    height: 45px;
    background: url('../images/drop-down.png') center center no-repeat;
}
.select2-container--default .select2-big .select2-selection__arrow { 
    height: 43px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    visibility: hidden;
}
.select2-dropdown {
    border-radius: 5px;
    z-index: 1 !important;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.18);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.18);
}
.select2-container--open .select2-selection--single {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.select2-dropdown--below {
    top: 4px;
}
.select2-dropdown--above {
    top: -3px;
}
.select2-container--open .select2-dropdown--below {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.select2-container--open .select2-dropdown--above {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.select2-container--open .select2-dropdown {
    border: 1px solid #f7f7f7;
    border: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #f7f7f7;
}
.select2-results {
    padding: 0px 5px 5px 5px;
}
.select2-results__option {
/*padding: 6px 10px;*/
/*    height: 26px;*/
    overflow: hidden;
    line-height: 26px;
    padding: 0px 10px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted {
    background-color: #C32424;
}
.select2-lg-dd {
    font-size: 1.1em;
    line-height: 1em;
    min-width: 190px !important;
}
.select2-lg-dd .select2-results__options li {
    padding: 0px 10px;
}
.select2-hide-search .select2-search--dropdown {
    display: none;
}
.select2-hide-search .select2-results {
    padding: 10px 5px 10px 5px;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #e8e8e8;
    cursor: not-allowed;
}

/* grid */
.row-col-p5 .col-left {
    padding-right: 15px;
}
.row-col-p5 .col-right {
    padding-left: 15px;
}
.row-col-p5 .col-mid {
    padding-left: 15px;
    padding-right: 15px;
}

/* buttons */
.btn {
    transition: all 0.2s ease;
    padding: 7px 20px;
    font-family: robotomedium;
    /*padding: 19px 30px;
    min-width: 181px;
    font-size: 1em;
    border-radius: 31px;
    -webkit-transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;
    -moz-transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;
    -o-transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;
    transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;*/
}
.btn-red {
    background: #C32424;
    border-color: #C32424;
    color: #ffffff !important;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:hover, 
.btn-red.active:hover, 
.btn-red:active:focus, 
.btn-red.active:focus,
.btn-red:active.focus, 
.btn-red.active.focus {
    background: #a21e1e !important;
    border-color: #a21e1e !important;
    color: #ffffff !important;
}
.btn-dark-red {
    background: #DA291C;
    border-color: #DA291C;
    color: #ffffff !important;
    padding: 7px 20px;
    transition: all 0.2s ease;
}
.btn-dark-red:hover,
.btn-dark-red:active,
.btn-dark-red:focus,
.btn-dark-red:active:hover, 
.btn-dark-red.active:hover, 
.btn-dark-red:active:focus, 
.btn-dark-red.active:focus,
.btn-dark-red:active.focus, 
.btn-dark-red.active.focus {
    background: #a21e1e !important;
    border-color: #a21e1e !important;
    color: #ffffff !important;
}
.btn-light-blue {
    background: #009CDE;
    border-color: #009CDE;
    color: #ffffff !important;
}
.btn-light-blue:hover,
.btn-light-blue:active,
.btn-light-blue:focus,
.btn-light-blue:active:hover, 
.btn-light-blue.active:hover, 
.btn-light-blue:active:focus, 
.btn-light-blue.active:focus,
.btn-light-blue:active.focus, 
.btn-light-blue.active.focus {
    background: #027baf !important;
    border-color: #027baf !important;
    color: #ffffff !important;
}
.btn-white {
    background: #ffffff;
    border-color: #ffffff;
    color: #606060 !important;
}
.btn-blue {
    background: #4267B2;
    border-color: #4267B2;
    color: #ffffff !important;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus,
.btn-blue:active:hover, 
.btn-blue.active:hover, 
.btn-blue:active:focus, 
.btn-blue.active:focus,
.btn-blue:active.focus, 
.btn-blue.active.focus {
    background: #2c4d90 !important;
    border-color: #2c4d90 !important;
    color: #ffffff !important;
}
.btn-white:hover,
.btn-white:active,
.btn-white:focus,
.btn-white:active:hover, 
.btn-white.active:hover, 
.btn-white:active:focus, 
.btn-white.active:focus,
.btn-white:active.focus, 
.btn-white.active.focus {
    background: #e6e6e6 !important;
    border-color: #e6e6e6 !important;
    color: #3e3e3e !important;
}
.btn-white.btn-bordered {
    border-color: #606060 !important;
}
.btn-white.btn-bordered:hover,
.btn-white.btn-bordered:active,
.btn-white.btn-bordered:focus,
.btn-white.btn-bordered:active:hover, 
.btn-white.btn-bordered.active:hover, 
.btn-white.btn-bordered:active:focus, 
.btn-white.btn-bordered.active:focus,
.btn-white.btn-bordered:active.focus, 
.btn-white.btn-bordered.active.focus {
    border-color: #606060 !important;
}
.btn-lg {
    font-size: 1rem;
    padding: 15px 21px;
    font-family: robotomedium;
}
.btn-md {
    font-size: 1rem;
    padding: 10px 21px;
    font-family: robotomedium;
}

/* form */
form {
    color: #606060;
}
.form-group {
    margin-bottom: 20px;
}
.form-group > label {
    font-weight: normal;
}
.form-control {
    border: 1px solid #F4F4F4;
    height: 45px;
    border-radius: 24px;
    padding: 6px 22px;
    font-size: 1em;
    color: #616161;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #F4F4F4;
}
/*.form-control:focus {
    border-color: #E20025;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}*/
textarea.form-control {
    min-height: 200px;
    resize: none;
    border-radius: 5px;
    padding: 12px 22px;
}
.radiolist li {
    position: relative;
    border: 1px solid #EAEBED;
    border-bottom: 0px;
}
.radiolist li.first {
    border-radius: 5px 5px 0px 0px;
}
.radiolist li.last {
    border-bottom: 1px solid #EAEBED;
    border-radius: 0px 0px 5px 5px;
}
.radiolist li label {
    width: 100%;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
}
.radiolist li .iradio_minimal {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
}
.radiolist li .active {
    background: #EAEBED;
}
.radiolist li:hover label {
    background: #fbfbfb;
}
.radio label, .checkbox label {
    line-height: 1rem;
    padding-left: 8px;
}
.list-inline-choices li {
    margin-right: 20px;
}
.iradio_minimal {
    background: #fff;
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    border: 2px solid #d7d7d7;
    border-radius: 8px;
    margin-top: 3px;
}
.iradio_minimal.checked:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #C32424;
    border-radius: 5px;
    position: absolute;
    left: 2px;
    top: 2px;
}
.icheckbox_minimal {
    background: #C32424;
    width: 14px;
    height: 14px;
    float: left;
    cursor: pointer;
    border: 1px solid #C32424;
    border-radius: 2px;
    margin-top: 4px;
}
.icheckbox_minimal.checked:before {
    width: 5px;
    height: 10px;
    position: absolute;
    left: 4px;
    top: 0px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}
.has-error .checkbox, 
.has-error .checkbox-inline, 
.has-error .control-label, 
.has-error .help-block, 
.has-error .radio, 
.has-error .radio-inline, 
.has-error.checkbox label, 
.has-error.checkbox-inline label, 
.has-error.radio label, .has-error.radio-inline label {
    color: #a51b00;
}
.has-error .form-control {
    border-color: #ffe4e2;
    background-color: #fff3f3;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.has-error .form-control:focus {
    border-color: #ffe4e2;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.file-upload .form-group {
    display: table;
    width: 100%;
}
.file-upload .col1 {
    width: 100%;
    padding-right: 0px;
    display: table-cell;
    vertical-align: middle;
}
.file-upload .col2 {
    display: table-cell;
    vertical-align: middle;
}
.file-upload .form-control {
    width: 100%;
    float: none;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 45px !important;
    padding-right: 0px;
    word-wrap: break-word;
}
.has-error .file-upload .form-control {
    border-right: none !important;
}
.file-upload .form-control .fileinput-filename {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-upload .input-group-addon {
    width: 50px !important;
    border-radius: 0px 24px 24px 0px;
    padding-left: 15px;
    padding-right: 20px;
    cursor: pointer;    
    padding: 0px !important;
    border: 0px;
    background: #f4f4f4 !important;
}
.has-error .file-upload .input-group-addon {
    border: 1px solid #ffe4e2;
    border-left: none !important;
    background-color: #FFF3F2 !important;
}
.file-upload .fa-upload {
    width: 100%;
    padding-left: 15px;
    padding-right: 20px;
    height: 45px;
    line-height: 45px;
}
.file-upload .remove-file {
    color: #555;
    width: 100%;
    padding-left: 15px;
    padding-right: 20px;
    height: 45px;
    line-height: 45px;
}
.file-upload.fileinput-exists .fa-upload {
    display: none;
}
.file-upload.fileinput-new .remove-file {
    display: none;
}
.text-count-message {
    color: #b1b1b1 !important;
}

/* modal */
/*.modal-type1 .modal-content {
    border-radius: 0px;
    font-size: 14px;
}
.modal-lg {
    max-width: 1200px;
}
.modal-type1 .modal-body {
    padding: 20px;
    line-height: 1.5em;
}
.modal-type1 .modal-footer {
    text-align: center;
    border-top: 0px;
    padding-bottom: 40px;
}*/

/* nicescroll */
.content-scrollable {
    padding-right: 15px;
}

/* text counter */
.text-count-wrapper {
    margin-top: 5px;
}
.text-count-message {
    color: #EAEBED;
}

/* hr */
.hr-white {
    border-color: #ffffff;
}

/* divider */
.divider-layout1 {
    border-bottom: 9px solid #EE2E24;
    width: 100%;
}

/* table */
.table-responsive {
    border: none;
}
td, th {
    padding: 0.5rem 1.5rem;
}

/* section */
.section {
    background: #ffffff;
    padding: 35px 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
}
.section-layout1 {
}
.section-layout2 {
}
.section-title {
    font-size: 2.5rem;
    margin-top: 0px;
}

/* table */
.table-responsive .table {
    max-width: none;
    -webkit-overflow-scrolling: touch !important;
}

/* messages */
.messages {
    background: no-repeat 10px 15px;  /* LTR */
    border: 1px solid;
    border-width: 1px 1px 1px 0;  /* LTR */
    border-radius: 2px;
    padding: 15px 20px 15px 35px; /* LTR */
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-left: 8px;
    margin-bottom: 15px;
}
[dir="rtl"] .messages {
    border-width: 1px 0 1px 1px;
    background-position: right 10px top 17px;
    padding-left: 20px;
    padding-right: 35px;
    text-align: right;
}
.messages + .messages {
    margin-top: 1.538em;
}
.messages__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.messages__item + .messages__item {
    margin-top: 0.769em;
}
/* See .color-success in Seven's colors.css */
.messages--status {
    color: #325e1c;
    background-color: #f3faef;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent;  /* LTR */
    background-image: url(../images/icons/check.svg);
    box-shadow: -8px 0 0 #77b259; /* LTR */
}
[dir="rtl"] .messages--status {
    border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
    box-shadow: 8px 0 0 #77b259;
    margin-left: 0;
}
/* See .color-warning in Seven's colors.css */
.messages--warning {
    background-color: #fdf8ed;
    background-image: url(../images/icons/warning.svg);
    border-color: #f4daa6 #f4daa6 #f4daa6 transparent;  /* LTR */
    color: #734c00;
    box-shadow: -8px 0 0 #e09600; /* LTR */
}
[dir="rtl"] .messages--warning {
    border-color: #f4daa6 transparent #f4daa6 #f4daa6;
    box-shadow: 8px 0 0 #e09600;
}
/* See .color-error in Seven's colors.css */
.messages--error {
    background-color: #fcf4f2;
    color: #a51b00;
    background-image: url(../images/icons/error.svg);
    border-color: #f9c9bf #f9c9bf #f9c9bf transparent;  /* LTR */
    box-shadow: -8px 0 0 #e62600; /* LTR */
}
[dir="rtl"] .messages--error {
    border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
    box-shadow: 8px 0 0 #e62600;
}
.messages--error p.error {
    color: #a51b00;
}

/* mobile nav */
.mobile-nav {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: -100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease; /* Safari */
    transition: left 0.3s ease;
    padding-bottom: 20px;
}
.mobile-nav .mask {
    position: fixed;
    left: -100%;
}
.mobile-nav .divider {
    position: fixed;
    left: -100%;
    bottom: 0px;
}
.mobile-nav .close-trigger {
    margin-top: 10px;
    right: -31px;
    position: fixed;
    -webkit-transition: right 0.4s ease; /* Safari */
    transition: right 0.4s ease;
}
.mobile-nav .close-trigger img {
    width: 16px;
}
.mobile-nav.visible, .mobile-nav.visible .mask, .mobile-nav.visible .divider {
    left: 0px;
}
.mobile-nav.visible .close-trigger {
    right: 15px;
}
.mobile-nav .main-nav {
    font-size: 1.2rem;
}
.mobile-nav .heading {
    font-size: 2.15rem;
}
.mobile-nav .main-nav li {
    margin-bottom: 15px;
}
.mobile-nav .top-links li {
    margin-bottom: 15px;
}
.mobile-nav .top-links li a {
    text-decoration: none;
}
.mobile-nav a {
    text-decoration: none;
}

/* header */
.header-top {
    background: #606060;
    font-size: .9rem;
}
.header-top > div {
    padding: 8px 15px;
}
.header-top .top-links a {
    text-decoration: none;
}
.navbar-static-top {
    z-index: 1;
}
.navbar {
    background: #ffffff;
    border: none;
}
.navbar-header {
    padding: 15px 0px;
}
.navbar-brand {
    padding: 0px;
    padding-left: 15px;
    height: auto;
    margin-top: 7px;
}
.navbar-brand img {
    width: 225px;
    max-width: 100%;
}
.navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    border-color: #606060 !important;
    color: #606060;
    background: #ffffff;
}
.navbar-toggle:focus, .navbar-toggle:hover {
    border-color: #C32424 !important;
    background: #ffffff !important;
}
.navbar-toggle .icon-bar {
    background: #606060;
}
.navbar-toggle:focus .icon-bar, .navbar-toggle:hover .icon-bar {
    background: #C32424;
}
.navbar-toggle .icon-bar {
    width: 100%;
}
.navbar-default .navbar-nav > li > a, 
.navbar-nav li a {
    color: #009CDE;
    font-size: 1rem;
    padding: 0px 8px;
}
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
    color: #027baf;
}
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:focus, 
 .navbar-default .navbar-nav > .active > a:hover {
    color: #027baf;
    background: none;
}

/* footer */
.copyright {
    line-height: 42px;
}
.footer-links {
    margin: 0 auto;
    min-height: 42px;
    display: block;
}
.footer-links li {
    display: block;
    padding: 0px;
    margin-bottom: .9rem;
}
.footer-links li a {
    text-decoration: none;
}
footer {
    padding: 15px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #606060;
    font-size: .9rem;
}
footer .social-links a {
    border: 1px solid #ffffff;
    border-radius: 21px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}
footer .social-links a:hover {
    background: #C32424;
    color: #ffffff;
    border: 1px solid #C32424;
}
footer .social-links a:before {
    margin-left: 6px;
}
/*.footer-links a {
    color: #cfcfcf;
    font-size: 0.9em;
}
.footer-links li {
    display: block;
    padding: 0px 10px;
    border-right: 0px solid #cfcfcf;
    text-align: center;
}
.footer-links li.last {
    border: none;
}*/

/* sponsors */
.section-sponsors .slick-slide {
    padding: 10px 20px;
    min-height: 150px !important;
    height: 1px;
}
.section-sponsors .slick-slide > div {
    height: 100%;
}
.section-sponsors .item img {
    max-width: 200px;
    max-height: 100%;
    margin: 0px auto;
}
.section-sponsors .item {
    text-align: center;
    padding: 0px;
    position: relative;
    display: table !important;
    width: 100% !important;
    height: 100%;
}
.section-sponsors .item .img {
    position: absolute;
    width: 100%;
    height: 0px;
    z-index: 0;
    top: 0px;
    left: 0px;
    display: table-cell;
    vertical-align: middle;
}
.section-sponsors .item .img-gray {
    position: relative;
    height: 100%;
    z-index: auto;
}
.section-sponsors .item:hover .img {
    position: relative;
    height: 100%;
    z-index: auto;
}
.section-sponsors .item:hover .img-gray {
    position: absolute;
    height: 0px;
    z-index: 0;
}
.section-sponsors .slick-prev:before, .section-sponsors .slick-next:before {
    content: none;
}
.section-sponsors .slick-prev, .section-sponsors .slick-next {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 35px;
    height: 35px;
    margin-top: -17px;
    top: 50%;
    background-size: 100% auto;
}
.section-sponsors .slick-prev {
    background: url(../images/left-arrow-angle.png) center center no-repeat;
    background-size: 100% auto;
    left: -10px;
}
.section-sponsors .slick-next {
    background: url(../images/right-arrow-angle.png) center center no-repeat;
    background-size: 100% auto;
    right: -10px;
}

/* cookie policy */
.cookie-policy {
    width: 100%;
    padding: 15px 15px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

/* list */
.list-layout1 .item .thumb {
    position: relative;
    display: block;
    text-decoration: none;
}
.list-layout1 .item .thumb .play {
    color: #FBFBFB;
    border: 1px solid #FBFBFB;
    display: inline-block;
    font-size: 23px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: relative;
    -webkit-transition: all 0.2s ease; /* Safari */
    transition: all 0.2s ease;
}
.list-layout1 .item .thumb .play:before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    margin-left: 2px;
}
.list-layout1 .item .thumb a:hover .play,
.list-layout1 .item .thumb a:focus .play {
    color: #C32424;
    border: 1px solid #C32424;
}
.list-layout1 .item .title {
    text-decoration: none;
}
.list-layout1 .item .thumb .mask {
    opacity: 1;
    filter: alpha(opacity=100);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+92,000000+100&0+61,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 61%, rgba(0,0,0,0.52) 92%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.52) 92%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.52) 92%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.list-layout1 .item .thumb .mask-overlay:hover {
    text-decoration: none;
}
.list-layout1 .item .thumb > img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
}

/* main content */
.main-content > div {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* home */
.banner-home .min-w-215 {
    min-width: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* thankyou */
.entry-refnum {
    border-radius: 38px;
    padding: 1.3rem 1.5rem;
}

/* page template */
.page-default-template .content-top .banner {
    position: static;
    z-index: auto;
    width: auto;
}
.page-content-top-visible-template .content-top .banner {
    position: static;
    z-index: auto;
    width: auto;
}
.page-default-template .main-content > .inner {
    padding-top: 30px;
}
.page-content-top-visible-template .main-content > .inner {
    padding-top: 0px;
}

/* social links */
.social-links-layout1 a {
    border-radius: 19px;
    height: 33px;
    width: 33px;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff;
}
.social-links-layout1 .fa-twitter {
    border: 1px solid #1DA1F2;
    background-color: #1DA1F2;
}
.social-links-layout1 .fa-facebook {
    border: 1px solid #4267B2;
    background-color: #4267B2;
}
.social-links-layout1 a:before {
    margin-left: 6px;
}

/* winners */
.list-layout1 .dd-wrapper {
    display: table;
    width: 100%;
    text-align: left;
    z-index: 1;
    position: relative;
}
.list-layout1 .dd-wrapper > * {
    display: table-cell;
}
.list-layout1 .dd-wrapper > span {
    width: 75px;
    padding-right: 10px;
}
.list-layout1 .dd-wrapper .dropdown .btn {
    display: block;
    width: 100%;
    padding-right: 33px;
    border-color: #E2E2E2;
    border-radius: 0px;
    color: #606060;
    text-align: left;
}
.list-layout1 .dd-wrapper .dropdown .btn .caret {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px;
    color: #919191;
}
.list-layout1 .dd-wrapper .dropdown .dropdown-menu {
    width: 100%;
}
.list-layout1 .dd-wrapper .dropdown .dropdown-menu>.active>a, 
.list-layout1 .dd-wrapper .dropdown .dropdown-menu>.active>a:focus, 
.list-layout1 .dd-wrapper .dropdown .dropdown-menu>.active>a:hover {
    background-color: #C32424;
}

/* diary view */
.banner-entry {
    background-image: none;
}
.banner-entry .inner .play {
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
    display: inline-block;
    font-size: 23px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: relative;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}       
.banner-entry .inner .play:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-left: 2px;
}
.banner-entry .inner a:hover .play {
    color: #c32424;
    border: 1px solid #c32424;
}
.modal-vote-diary .modal-dialog {
    width: auto;
}
.modal-vote-diary .modal-content {
    border-radius: 0px;
    background: #ffffff url('../images/logo-bg.png') 0px 0px no-repeat;
    background-size: 130px;
}
.modal-vote-diary .modal-header {
    border: none;
}
.modal-vote-diary .modal-body {
    padding-top: 75px;
}
.modal-diary-video .close { 
    opacity: 1;
}
.modal-diary-video .modal-content {
    border-radius: 0px;
    position: relative;
    background: transparent;
    box-shadow: none;
    border: none;
    -webkit-box-shadow: none;
}
.modal-diary-video .modal-dialog {
    background: transparent;
}
.modal-diary-video .modal-header {
    border: none;
    position: relative;
    z-index: 1;
    background: transparent;
}
.modal-diary-video .modal-body {
    padding: 0px;
    position: absolute;
    width: 100%;
    top: 40px;
    background: transparent;
}
.modal-diary-video iframe {
    width: 100%;
    height: 300px;
}
.modal-diary-video .entry-details {
    padding: 10px 0px 20px 0px;
}

/* entry form */
.entry-type-dropdown {
    width: 100%;
}
.entry-type-dropdown > .btn {
    text-align: left;
    border-radius: 0px;
    padding: 10px 30px 10px 20px;
}
.entry-type-dropdown > .btn > .caret {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -2px;
}
.entry-type-dropdown .dropdown-menu {
    width: 100%;
}