{% extends 'AppBundle:Block:background_content.html.twig' %}

{% block block %}
    {% set htmlClass = 'block-background-content' ~ block.id %}
    <style type="text/css">
    {% if settings.backgroundImageMobile %}
    .{{ htmlClass }}{% if settings.backgroundImageLocation == 'inside_wrapper' %} > .inner{% endif %} {
        background-image: url({% path settings.backgroundImageMobile, (settings.backgroundImageMobileFormat ? settings.backgroundImageMobileFormat : 'reference') %});
        background-position: center center;
        background-repeat: no-repeat;
    }
    {% endif %}
    {% if settings.backgroundImage %}
    @media (min-width: 768px) {
        .{{ htmlClass }}{% if settings.backgroundImageLocation == 'inside_wrapper' %} > .inner{% endif %} {
            background-image: url({% path settings.backgroundImage, (settings.backgroundImageFormat ? settings.backgroundImageFormat : 'reference') %});
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    {% endif %}
    {% if settings.customStyles %}
    {{ settings.customStyles }}
    {% endif %}
    </style>
    <div class="banner {{ htmlClass }} {{ settings.class }} {% block block_class %}banner-layout1{% endblock %}">
        <div class="inner {{ settings.innerClass }}">
            {{ settings.content|raw }}
        </div>
        <div class="bottom-content container-fluid">
        	{{ settings.contentBottom|raw }}
        </div>
    </div>
{% endblock %}